{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .card img {
        width: 18rem;
        height: 18rem;
    }
</style>
{% endblock css %}

{% block contents %}
<div class="container my-4 py-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <header class="text-center">
        <h1 class="display-4">About MyNote</h1>
        <p class="lead">Trusted Note Taking Application- 07-12-2023</p>
        <p class="lead">Developed by:<li>Abha Kamble (N01607054)</li><li>Vineela Dandu (N01605093)</li><li>Sudharshan Venkatesh (N01620423)</li></p>
    </header>
</div>
{% endblock contents %}
