<footer class="footer bg-dark py-3 text-bg-dark">
    <hr class="bg-dark">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-bg-dark">&copy; 2023 MyNote</p>
        <p class="text-bg-dark">Contact at: The Very SAD group</p>
      </div>
    </div>
</footer>
